<!-- Trigger/Open The Modal -->
<img class="modal-image" id='{{.Get "title"}}' src='{{.Get "src"}}' alt='{{.Get "alt"}}' title='{{.Get "title"}}'></img> 

<!-- The Modal -->
<div id='{{.Get "title"}} modal' class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src='{{.Get "src"}}' alt='{{.Get "alt"}}' title='{{.Get "title"}}'></img> 
  </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById('{{.Get "title"}} modal');
    
    // Get the button that opens the modal
    var btn = document.getElementById('{{.Get "title"}}');
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      let curModal = document.getElementById('{{.Get "title"}} modal');
      curModal.style.display = "block";
      span.onclick = function() {
      curModal.style.display = "none";
    }

    // When the user clicks on the modal, close the modal
    curModal.onclick = function() {
      curModal.style.display = "none";
    }
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>